{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Lista de Alunos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Número</th>
            <th>Nome</th>
            <th>Curso</th>
            <th>Nível</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{aluno['id']}}</td>
            <td>{{aluno['nome']}}</td>
            <td>{{aluno['curso']}}</td>
            <td>{{aluno['nivel']}}</td>
            <td><a href="{{ url_for('main.carteirinha', id=aluno['id']) }}" class="btn btn-icon"><i class="fa-solid fa-address-card"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}